/*allows full page content*/
html, body { 
	height: 100%;
	margin: 0;
} 

/*titles on search and quiz pages*/
h1 {
	color: white;
	font-size: 100px;/*mediatarget*/
	font-family: "Montserrat", "sans-serif";
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
	color: white;
	font-size: 50px;/*mediatarget*/
	font-family: "Montserrat", "sans-serif";
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*centrally aligns all tables*/
table {
	margin: auto;
}

/*mediatarget*/
/*prevents default search textbox behaviour of turning yellow upon an autocomplete*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/*style placeholder text for search box*/
::-webkit-input-placeholder { /*Chrome/Opera/Safari*/
  color: DarkGrey;
  font-family: "Montserrat", "sans-serif";
}
::-moz-placeholder { /*Firefox 19+*/
  color: DarkGrey;
  font-family: "Montserrat", "sans-serif";
}
:-ms-input-placeholder { /*IE 10+*/
  color: DarkGrey;
  font-family: "Montserrat", "sans-serif";
}
:-moz-placeholder { /*Firefox 18-*/
  color: DarkGrey;
  font-family: "Montserrat", "sans-serif";
}

/*left and right container divs on main page*/
div.loadedcontainer {
	height: 100%; /*mediatarget*/
	width: 50%;
	background-size: 200% 100%;
	z-index: 1;
	/*mediatarget*/
	-webkit-transition:	all .4s ease-in-out;
	-moz-transition:	all .4s ease-in-out;
	-o-transition: 		all .4s ease-in-out;
	-ms-transition:		all .4s ease-in-out;
	transition: 		all .4s ease-in-out;
	/*mediatarget*/
	-webkit-transition-property:	width, background-size;
	-moz-transition-property: 		width, background-size;
	-o-transition-property:			width, background-size;
	-ms-transition-property:		width, background-size;
	transition-property: 			width, background-size;
}

/*buttons inside in front of container to transition to full pages*/
button.loadbutton { 
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	background-size: 200% 100%; /*mediatarget*/
	
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 0px;
	
	color: #777777;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
	opacity: 1;
	display: inline;
	/*mediatarget*/
	-webkit-transition:	all .4s ease-in-out;
	-moz-transition:	all .4s ease-in-out;
	-o-transition: 		all .4s ease-in-out;
	-ms-transition:		all .4s ease-in-out;
	transition: 		all .4s ease-in-out;
	/*mediatarget*/
	-webkit-transition-property:		
		font-size, 
		color, 
		background-image,
		opacity;
	-moz-transition-property:
		font-size, 
		color, 
		background-image,
		opacity;
	-o-transition-property:	
		font-size, 
		color, 
		background-image,
		opacity;
	-ms-transition-property:
		font-size, 
		color, 
		background-image,
		opacity;
	transition-property: 
		font-size, 
		color, 
		background-image,
		opacity;
}
button.loadbutton:hover {
	font-size: 90px !important; /*mediatarget*/
	color: #ffffff;
	cursor: pointer;
}

/*generic full page content*/
div.fullpagecontent {
	width: 100%;
	height: 100%;
	text-align: center;
	
	display: none;
	opacity: 0;
	/*mediatarget*/
	-webkit-transition:	all .3s ease-in-out;
	-moz-transition:	all .3s ease-in-out;
	-o-transition: 		all .3s ease-in-out;
	-ms-transition:		all .3s ease-in-out;
	transition: 		all .3s ease-in-out;
}

/*takes user from full page to index page*/
button.backbutton {
	width: 10%; /*mediatarget*/
	min-width: 120px; /*mediatarget*/
	height: 10%; /*mediatarget*/
	min-height: 90px; /*mediatarget*/
	border: none;
	outline: none;
	
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
	position: absolute;
	top: 0;
	
	background-color: transparent;
	
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 40px; /*mediatarget*/
	color: #ffffff;
	/*mediatarget*/
	-webkit-transition:	background-color 0.3s ease-in-out;
	-moz-transition:	background-color 0.3s ease-in-out;
	-o-transition: 		background-color 0.3s ease-in-out;
	-ms-transition:		background-color 0.3s ease-in-out;
	transition: 		background-color 0.3s ease-in-out;
}
button.backbutton:hover {
	background: rgba(255, 255, 255, .3);
	cursor: pointer;
}

/*gif display formatting*/
.gif {
	margin-top: 100px; /*mediatarget*/
}

/*standard button design*/
.stdbutton {
	font-family: 'Montserrat', sans-serif;
    display: inline-block;
    width: 200px; /*mediatarget*/
    height: 60px; /*mediatarget*/
    background: white;
	border: 2px solid #cccccc;
    padding: 15px; /*mediatarget*/
    text-align: center;
    border-radius: 5px;
	font-size:20px; /*mediatarget*/
    color: #777777;
    font-weight: bold;
} 
.stdbutton:hover {
	background: #e6e6e6;
	cursor: pointer;
}

/*shared upvote and downvote button styles*/
.weightbutton {
	margin: 20px; /*mediatarget*/
}

/*dimentions for quiz answers(larger to occupy more screen space)*/
.quizanswer {
	width: 250px; /*mediatarget*/
	height: 100px;/*mediatarget*/
}

/*container for quiz gif*/
.divTableGIF{
	display: table;
	width: 100%;
	margin-top: 0vh;
	position: absolute;
	top: 20%;/*mediatarget*/
}
/*table of quiz answers*/
.divTable{
	display: table;
	width: 100%;
	margin-top: 0px;
	position: absolute;
	bottom: 10%;/*mediatarget*/
}
/*quiz answers row*/
.divTableRow {
	display: table-row;
}
/* UNUSED AT CURRENT TIME
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
*/
/*quiz answer table cell*/
.divTableCell, .divTableHead { /*divTableHead UNUSED AT CURRENT TIME*/
	display: table-cell;
	padding: 15px;/*mediatarget*/
	vertical-align: top; /*fixes bug with first answers set column having extra padding*/
}
/* UNUSED AT CURRENT TIME
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
*/
/*inner quiz answers table container*/
.divTableBody {
	display: table-row-group;
}

/*whole page container*/
#container-full { 
	width: 100%;
	/*min-width: 950px;*/ /*mediatarget*/
	height: 100%;
	/*min-height: 800px;*/ /*mediatarget*/
	position: fixed;
}

/*search(left side) container*/
#search-container { 
	float: left; /*mediatarget*/
	background-image: url("../images/search.jpg"); /*mediatarget*/
	background-position: left top; /*mediatarget*/
}

/*quiz/play(right side) container*/
#quiz-container { 
	float: right; /*mediatarget*/
	right: 0;
	background-image: url("../images/play.jpg"); /*mediatarget*/
	background-position: right top; /*mediatarget*/
}

/*search load button*/
#search-load { 
	background-position: left top; /*mediatarget*/
	background-image: url("../images/default-search.jpg"); /*mediatarget*/
}
#search-load:hover { 
	background-image: url("../images/search.jpg"); /*mediatarget*/
}

/*quiz load button*/
#quiz-load {
	background-position: right top;
	background-image: url("../images/default-play.jpg"); /*mediatarget*/
}
#quiz-load:hover { 
	background-image: url("../images/play.jpg"); /*mediatarget*/
}

/*return from search to home page*/
#search-tohome {
	left: 0;
}

/*return from search results to search*/
#search-fromresults {
	left: 0;
}

/*Quiz title positioned to the corner*/
#quiz-title {
	position: absolute;
	top: -20px; /*mediatarget*/
	left: 40px; /*mediatarget*/
}

/*return from quiz to home page*/
#quiz-tohome {
	right: 0;
}

/*container holding the film name input box and submit button*/
#container-query {
	margin-top: 5%; /*mediatarget*/
	display: inline-block;
}
/*text area for inputting */
#film-name {
	width: 100%;
  	height: 40px; /*mediatarget*/
	padding: 0.5em;
	margin: 1px;

  	border: 0.1em solid #cccccc;
	border-radius: 0.2em;
	
  	font-size: 34px; /*mediatarget*/
	font-family: "Montserrat", "sans-serif";
	text-align: center;
	
	overflow: hidden;
	outline: none;
	resize: none;
}

/*submit film summary for analysis*/
#submit-film {
	margin: 30px; /*mediatarget*/
}

/*table of the upvote and downvote buttons*/
#gif-weight-buttons {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 70%; /*mediatarget*/
}

/*---------------------------------------Responsiveness Code---------------------------------------*/

/*applies to portrait smartphones*/
@media only screen and (min-width: 321px) and (max-device-width : 480px) {
	div.loadedcontainer {
	height: 50%; /*mediatarget*/
	width: 100%;
	background-size: 100% 200%;
}
	button.loadbutton { 
		background-size: 100% 200%; 		
	}
	/*search load button*/
	#search-load { 
		background-position: left top; /*mediatarget*/
		background-image: url("../images/default-search-portrait.jpg"); /*mediatarget*/
	}

	/*quiz load button*/
	#quiz-load {
		background-position: left bottom;
		background-image: url("../images/default-play-portrait.jpg"); /*mediatarget*/
	}
	
	/*search(left side) container*/
	#search-container { 
		float: top; /*mediatarget*/
		background-image: url("../images/search-portrait.jpg"); /*mediatarget*/
		background-position: left top; /*mediatarget*/
	}

	/*quiz/play(right side) container*/
	#quiz-container { 
		float: bottom; /*mediatarget*/
		bottom: 0;
		background-image: url("../images/play-portrait.jpg"); /*mediatarget*/
		background-position: left bottom; /*mediatarget*/
	}
}
/*
@media only screen and (min-width: 1920px) {
	
}
*/

