body {
	background-image: url("../images/search_background.jpg");
	background-size: 100% 100%;
    text-align: center;
    }
	
.gif {
	margin-top: 100px;
    }
	
textarea {
  	width: 40em;
  	height: 20em;
  	max-width: 60em;
  	max-height: 30em;
  	padding: 1em;
	margin-top: 150px;
  	font-family: "Montserrat", "sans-serif";
  	font-size: 1em;
  	border: 0.1em solid #ccc;
  	border-radius: 0.5em;
  	background-color: white;  	
	}
  
.button {
	margin: 0 auto;
    display: block;
    width: 115px;
    height: 25px;
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
	font-size:20px;
    color: black;
    font-weight: bold;
	}