/*allows full page content*/
html, body, div { 
	height: 100%;
	margin: 0;
} 

/*left and right container divs on main page*/
div.loadedcontainer {
	width: 50%;
	background-size: 200% 100%;
	z-index: 1;
	
	transition: all .4s ease-in-out;
	transition-property: 
		width,
		background-size;
}

/*buttons inside in front of container to transition to full pages*/
button.loadbutton { 
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	background-image: url("../images/default.jpg");
	background-size: 200% 100%;
	
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 0px;
	color: #666666;
	
	opacity: 1;
	display: inline;
	
	transition: all 0.4s ease-in-out;
	transition-property: 
		font-size, 
		color, 
		background-image,
		opacity;
}
button.loadbutton:hover {
	font-size: 77px;
	color: #ffffff;
}

/*generic full page content*/
div.fullpagecontent {
	width: 100%;
	height: 100%;
	text-align: center;
	
	display: none;
	opacity: 0;
	
	transition: all 0.3s ease-in-out;
}
div.fullpagecontent:hover {
	opacity: 0.5;
}


/*gif display formatting*/
.gif {
	margin-top: 100px;
}

/*box to submit summary*/
textarea {
  	width: 40em;
  	height: 20em;
  	max-width: 60em;
  	max-height: 30em;
  	padding: 1em;
	margin-top: 150px;
  	font-family: "Montserrat", "sans-serif";
  	font-size: 1em;
  	border: 0.1em solid #ccc;
  	border-radius: 0.5em;
  	background-color: white;  	
}

/*whole page container*/
#container-full { 
	width: 100%;
	height: 100%;
	position: fixed;
}

/*search(left side) container*/
#search-container { 
	float: left;
	background-image: url("../images/search_background.jpg");
	background-position: left top;
}

/*quiz/play(right side) container*/
#quiz-container { 
	float: right;
	background-image: url("../images/quiz_background.jpg");
	background-position: right top;
}

/*individual search load button*/
#search-load { 
	background-position: left top;
}
#search-load:hover { 
	background-image: url("../images/search_background.jpg");
}

/*individual search load button*/
#quiz-load {
	background-position: right top;
}
#quiz-load:hover { 
	background-image: url("../images/quiz_background.jpg");
}

/*full search page*/
#search-full {
	
}

/*full quiz page*/
#quiz-full {
	
}

/*button to submit film summary for analysis*/
#submit-sum {
	margin: 0 auto;
    display: block;
    width: 115px;
    height: 25px;
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
	font-size:20px;
    color: black;
    font-weight: bold;
}